{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-success py-3">
  <div class="container px-2 px-lg-3 my-3">
    <div class="text-center text-white">
      <div class="w3-container w3-center w3-animate-zoom">
        <h1><i>About Us</i></h1>
        <p class="lead fw-normal text-white-25 mb-0">
          Welcome to GearFarmEssentials
        </p>
      </div>
    </div>
  </div>
</header>

<br />

<body background = >
<div class="centered">
  Welcome to GearFarmEssentials, your premier destination for high-quality used
  farm equipment. Founded by Emmanuel Pontsho Mobu, a visionary entrepreneur
  with a passion for agriculture and sustainable farming practices,
  GearFarmEssentials is committed to revolutionizing the way farmers access
  reliable machinery and tools.<br /><br /><br />
  At GearFarmEssentials, we understand the challenges farmers face in acquiring
  affordable and dependable equipment. That's why we've created a platform that
  connects buyers and sellers, making it easier than ever to buy, sell, or trade
  used farm gear. Whether you're a small-scale farmer looking to upgrade your
  equipment or a seasoned agricultural professional seeking to sell surplus
  machinery, GearFarmEssentials is your trusted partner.<br /><br /><br />
  Emmanuel Pontsho Mobu brings a wealth of expertise to the agricultural
  industry, with a deep understanding of the unique needs of farmers. His
  dedication to promoting sustainability and efficiency in farming drives our
  mission to provide farmers with access to top-notch used equipment that
  enhances productivity while minimizing environmental impact.<br /><br /><br />
  Contact us today at 0638719343 or email us at emmanuelpontsho553@gmail.com to
  explore our wide selection of used farm equipment or to list your items for
  sale. You can also visit our website, GearFarmEssentials, to learn more about
  our services and how we can help streamline your farming operations.<br /><br /><br />
  Join GearFarmEssentials and be a part of the agricultural revolution.
  Together, we're shaping the future of farming!
</div>

<br />
</body>
{% endblock %}
