{% extends 'base.html' %} 
{% block content %}


<header class="bg-success py-3">
    <div class="container px-2 px-lg-3 my-3">
      <div class="text-center text-white">
        <div class="w3-container w3-center w3-animate-zoom">
          <p class="lead fw-normal text-white-25 mb-0">
            Enter email that you used to register your account
          </p>
        </div>
      </div>
    </div>
  </header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <br /><br />
      <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="mb-3 form-check"></div>
        <div align="center">
            {{form.as_p}}
          <button type="submit" class="btn btn-primary">Send Link</button>
        </div>
      </form>
      <br/>
    </div>
  </div>
</div>
{% endblock %}
