{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-success py-3">
  <div class="container px-2 px-lg-3 my-3">
    <div class="text-center text-white">
      <div class="w3-container w3-center w3-animate-zoom">
        <h1><i>View your profile</i></h1>
        <p class="lead fw-normal text-white-25 mb-0">
          Welcome to GearFarmEssentials
        </p>
      </div>
    </div>
  </div>
</header>
{% if user.is_authenticated %} {% if user.profile %}
<div class="card" style="text-align: center">
  <div align="center">
    <br />
    <img
      src="/static/profiledefault.png"
      style="width: 100px; height: 100px; max-width: 100%"
    />
  </div>
  <h1>{{ user.profile.user.get_full_name }}</h1>
  <p>Email: {{ user.profile.user.email }}</p>
  <p>Phone: {{ user.profile.phone }}</p>
  <p>Country: {{ user.profile.country }}</p>
  <p>City: {{ user.profile.city }}</p>
  <p>ZipCode: {{ user.profile.zipcode }}</p>
</div>
<div align="center">
  <a href="{% url 'home' %}" class="btn btn-success">Home</a>
</div>
<br />
{% else %}
<!-- Profile not found -->
<p>No profile found for the current user.</p>
{% endif %} {% endif %} {% endblock %}
