{% extends 'base.html' %} 
{% block content %}
<br/><br/><br/><br/>
<!DOCTYPE html>
<html>
<head>
    <title>Your Invoice</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .invoice-box { width: 100%; margin: auto; padding: 30px; border: 1px solid #eee; }
        .invoice-title { font-size: 24px; font-weight: bold; }
        .invoice-details { margin-top: 20px; }
        .order { margin-bottom: 40px; }
        .total { font-size: 18px; font-weight: bold; }
    </style>
</head>
<body>

    <div class="invoice-box">
        <h1 class="invoice-title">Invoice</h1>
        <p>Thank you for your purchase, {{ request.user.first_name }}!</p>
        <div class="invoice-details">
            {% for order in order_data %}
            <div class="order">
                <h2>Order Summary</h2>
                <p>Name: {{ order.name }}</p>
                <p>Date Ordered: {{ order.date }}</p>
                <p>Amount Paid: ${{ order.price }}</p>
                <h3>Items:</h3>
                <ul>
                    {% for item in order.items %}
                    <li>{{ item.product }} - Price : ${{ item.orderprice }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}